
#latest-post {
  background-image: url();
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  color: white;
  padding: 20px;
  text-align: left;
}

.post-image-shell {
  background-color: transparent;
  width: 100%;
  height: 50%;
}

.latest-post-header-container {
  /*position: relative;
  top: 50%;
  transform: translateY(-50%);*/
  margin: 10px 0 10px 0;
}

.enlarge:hover {
  font-size:
}

.post-header {
  display: inline-block;
  background-color: white;
  color: black;
  margin: 0;
  text-align: left;
  padding: 0 10px 0 10px;
}

.sub-post {
  background-image: url();
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sub-post-header-container {
  background-color: #fef1f1;
  width: 100%;
  height: 50%;
  text-align: center;
}

.sub-post-header-shell {
  background-color: transparent;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.sub-post-header {
  text-decoration: underline;
  margin: 0 0 10px 0;
  padding: 0 10px 0 10px;
}


.sub-post-date-header {
  margin: 10px 0 10px 0;
}
